.ant-btn {
  &.btn-with-icon {
    @apply text-white text-opacity-70 bg-highlight bg-opacity-70 hover:text-white hover:bg-opacity-100 focus-visible:text-white focus-visible:bg-opacity-100;
    padding: 4px 15px !important;
    border: none;
    display: flex;
    align-items: center;
  }
}

.ant-btn-primary {
  @apply bg-primary border-primary border-opacity-80 hover:bg-opacity-90 hover:border-opacity-90;
}
