@layer components {

  .album-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    @apply overflow-hidden whitespace-normal mt-1 text-sm text-white text-opacity-50;
  }

  .ellipsis-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
  }
}
