@layer components {
  .album-cover {

  }
  
  .album-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: rgb(179, 179, 179);
    @apply overflow-hidden whitespace-normal mt-1 text-sm;
  }
}
