@layer components {
  .content-spacing {
    @apply px-8 pt-4;
  }

  .text-heading {
    @apply text-2xl text-white;
  }

  .text-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    user-select: none;
    @apply overflow-hidden whitespace-normal text-sm text-white text-opacity-70;
  }

  .ellipsis-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    user-select: none;
  }

  .control-button {
    color: #b3b3b3;
    position: relative;
    @apply w-8 h-8 flex items-center justify-center cursor-pointer;

    &.large {
      @apply w-12 h-12;
    }
  }

  .playlist-tracks-grid {
    display: grid;
    grid-template-columns: [index] 24px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr);
    gap: 16px;
  }

  .album-tracks-grid {
    display: grid;
    grid-template-columns: 24px 6fr minmax(120px, 1fr);
    gap: 16px;
  }

  .artist-top-tracks-grid {
    display: grid;
    grid-template-columns: 24px 6fr 3fr minmax(120px, 1fr);
    gap: 16px;
  }

  .track-row {
    &:hover {
      .track-order {
        display: none;
      }

      .track-play-button {
        display: block;
      }
    }
  }

  .common-grid {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    @apply grid;
  }

  .data-size-observer {
    @apply relative outline outline-primary outline-2;

    &.top::before{
      top: 0;
    }

    &.bottom::before {
      top: unset;
      bottom: -1.8rem;
    }

    &:before {
      content: attr(data-size);
      position: absolute;
      left: 0;
      right: 0;
      top: -0.8rem;
      width: 7ch;
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      color: white;
      z-index: 2;
      @apply bg-primary text-xl;
    }
  }
}
