.with-view-transition {
  as-media-cover {
    view-transition-name: media-cover;
  }

  h2 {
    view-transition-name: media-title;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// ::view-transition-new(media-cover) {
//   animation: spin 500ms;
// }
