@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './custom/tailwind';

@import '~ng-zorro-antd/style/index.min.css';
@import '~ng-zorro-antd/slider/style/index.min.css';
@import '~ng-zorro-antd/skeleton/style/index.min.css';
@import '~ng-zorro-antd/switch/style/index.min.css';
@import '~ng-zorro-antd/modal/style/index.min.css';
@import '~ng-zorro-antd/button/style/index.min.css';
@import '~ng-zorro-antd/tooltip/style/index.min.css';
@import '~ng-zorro-antd/dropdown/style/index.min.css';
@import './custom/ant';

body {
  min-width: 600px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
  @apply h-full w-full absolute overflow-hidden flex flex-col;
}

.tracks-container .ant-skeleton-paragraph > li {
  height: 24px !important;
}
