@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use './custom/tailwind';

@use 'ng-zorro-antd/style/index.min.css' as *;
@use 'ng-zorro-antd/slider/style/index.min.css' as slide;
@use 'ng-zorro-antd/switch/style/index.min.css' as switch;
@use 'ng-zorro-antd/modal/style/index.min.css' as modal;
@use 'ng-zorro-antd/button/style/index.min.css' as button;
@use 'ng-zorro-antd/tooltip/style/index.min.css' as tooltip;
@use 'ng-zorro-antd/dropdown/style/index.min.css' as dropdown;
@use './custom/ant';
@use './custom/view-transitions';

:root {
  --background-baseline: 18 18 18;
  --background-highlight: 68 68 68;
  --text-baseline: 255 255 255;
  --text-primary: 29 185 84;
}

body {
  min-width: 600px;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.015em;
  @apply h-full w-full absolute overflow-hidden flex flex-col bg-black text-white/70;
}

a, button {
  &:focus-visible {
    @apply outline outline-2 outline-white outline-offset-2;
  }
}
